.chatbox {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    z-index: 100;
}

.chatbox.visible {
    display: block;
}

.chatbox.hidden {
    display: none;
}

.chaxbox-header {
    background-color: rgba(var(--bs-primary-rgb));
    height: 2rem;
    text-align: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.box-messages {
    max-width: 250px;
    height: 200px;
    list-style: none;
    margin: 0;
    padding: 15px;
    overflow: scroll;
    z-index: 100;
}

.message-line {
    margin-top: 8px;
}

.message-line .message {
    width: 100%;
    padding: 2px 8px;
    border-radius: 8px 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.message-line.myself {
    text-align: right;
}

.input-box {
    padding: 10px;
}

::-webkit-scrollbar {
    display: none;
}


/* btn chat */

.btn-chat.visible {
    display: block;
}

.btn-chat.hidden {
    display: none;
}

.btn-chat {
    position: fixed;
    height: 50px;
    width: 50px;
    z-index: 10;
    right: 5rem;
    bottom: 5rem;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-chat .icon {
    font-size: 2rem;
}