.admin-panner {
    height: 300px;
    background-position-y: 80%;
    background-position-x: 45%;
    background-size: cover;
}

.admin-panner__box {
    display: flex;
    height: 100%;
}

.admin-panner__box h1 {
    font-size: 40px !important;
    text-align: center;
    color: #fff;
}