@media only screen and (max-width: 767px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
    h6 {
        font-size: 12px;
    }
    .main_slider {
        height: 300px;
    }
    .main_slider_content h6 {
        margin-bottom: 20px;
    }
    .shop_now_button {
        margin-top: 23px;
    }
    .red_button {
        width: 100px;
        height: 24px;
    }
    .red_button a {
        font-size: 12px;
    }
    .banner_item {
        margin-bottom: 30px;
        height: 210px;
    }
}