.search {
    position: relative;
    width: 500px;
}

.search-list-product {
    display: none;
    position: absolute;
    z-index: 100;
    width: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-list-product ul {
    list-style: none;
    color: black;
}

.search-list-product li {
    padding: 10px 5px;
}

.search-list-product a {
    color: black;
    text-decoration: none;
}

.search:hover .search-list-product {
    display: block !important;
}

.search:focus .search-list-product {
    display: block !important;
}

.search:target .search-list-product {
    display: block !important;
}